# The node_modules folder is often used to store build artifacts that should be
# gitignored
node_modules

# build files
dist/

# coverage files
coverage/

# turbo files
.turbo/

# expo files
expo-env.d.ts

packages/pro
packages/sdk-pro

.env

# macOS
.DS_Store

# mise
mise.toml
