@import "tailwindcss";
@import "@heroui/styles";

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(79% 0.13 244);
  --accent-foreground: oklch(15% 0.026 244);
  --background: oklch(97.02% 0.017 244);
  --border: oklch(90% 0.017 244);
  --danger: oklch(65.32% 0.2407 24.56);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.017 244);
  --default-foreground: oklch(21.03% 0.0059 244);
  --field-background: oklch(100% 0.0085 244);
  --field-foreground: oklch(21.03% 0.017 244);
  --field-placeholder: oklch(55.17% 0.0341 244);
  --focus: oklch(79% 0.13 244);
  --foreground: oklch(21.03% 0.017 244);
  --muted: oklch(55.17% 0.0341 244);
  --overlay: oklch(100% 0.0051 244);
  --overlay-foreground: oklch(21.03% 0.017 244);
  --scrollbar: oklch(87.1% 0.017 244);
  --segment: oklch(100% 0.017 244);
  --segment-foreground: oklch(21.03% 0.017 244);
  --separator: oklch(92% 0.017 244);
  --success: oklch(73.29% 0.2001 149.63);
  --success-foreground: oklch(21.03% 0.0059 149.63);
  --surface: oklch(100% 0.0085 244);
  --surface-foreground: oklch(21.03% 0.017 244);
  --surface-secondary: oklch(95.24% 0.0136 244);
  --surface-secondary-foreground: oklch(21.03% 0.017 244);
  --surface-tertiary: oklch(93.73% 0.0136 244);
  --surface-tertiary-foreground: oklch(21.03% 0.017 244);
  --warning: oklch(78.19% 0.1639 71.15);
  --warning-foreground: oklch(21.03% 0.0059 71.15);

  /* Border Radius */
  --radius: 0.125rem;
  --field-radius: 0.5rem;

  /* Font Family */
  /* Make sure to load IBM Plex Mono font in your app */
  --font-sans: var(--font-ibm-plex-mono);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(79% 0.13 244);
  --accent-foreground: oklch(15% 0.026 244);
  --background: oklch(12% 0.017 244);
  --border: oklch(28% 0.017 244);
  --danger: oklch(59.4% 0.2034 23.45);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.017 244);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0341 244);
  --field-foreground: oklch(99.11% 0.017 244);
  --field-placeholder: oklch(70.5% 0.0341 244);
  --focus: oklch(79% 0.13 244);
  --foreground: oklch(99.11% 0.017 244);
  --muted: oklch(70.5% 0.0341 244);
  --overlay: oklch(21.03% 0.0341 244);
  --overlay-foreground: oklch(99.11% 0.017 244);
  --scrollbar: oklch(70.5% 0.017 244);
  --segment: oklch(39.64% 0.017 244);
  --segment-foreground: oklch(99.11% 0.017 244);
  --separator: oklch(25% 0.017 244);
  --success: oklch(73.29% 0.2001 149.63);
  --success-foreground: oklch(21.03% 0.0059 149.63);
  --surface: oklch(21.03% 0.0341 244);
  --surface-foreground: oklch(99.11% 0.017 244);
  --surface-secondary: oklch(25.7% 0.0256 244);
  --surface-secondary-foreground: oklch(99.11% 0.017 244);
  --surface-tertiary: oklch(27.21% 0.0256 244);
  --surface-tertiary-foreground: oklch(99.11% 0.017 244);
  --warning: oklch(82.03% 0.1435 75.16);
  --warning-foreground: oklch(21.03% 0.0059 75.16);
}
